@import "tailwindcss";
* {
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

body {
    width: 100vw;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #BF3131 0, #BF3131 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #F75A5A 0 0 0 1.5px inset, rgba(66, 35, 35, 0.4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #F75A5A 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #F75A5A 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #F75A5A 0 3px 7px inset;
  transform: translateY(2px);
}